* {
  margin: 0px;
  padding: 0px;
}

body {
    background-color: #FFCD3C;
    font-family: 'Libre Baskerville', serif;
    text-align: justify;
}

img, embed, object, video {
  max-width: 100%;
}

h1 {
  font-size: 3em;
}

p {
  padding: 10px;
}

#main {
  background-color: #FFFFFF;
  width: 40%;
  max-width: 550px;
  margin: 50px auto 0px auto;
  padding: 20px 30px;
  border-radius: 20px;
}

#header {
  font-family: 'Pacifico', cursive;
  border-bottom: 20px solid #2e86ab;
}

#header img {
  border-radius: 50%;
}

#content {
  text-align: justify;
  padding-top: 20px;
}

#social {
  padding: 20px 0px;
  text-align: center;
}

#social i {
  padding: 5px;
  font-size: 2em;
}

#footer {
  font-size: 0.8em;
  text-align: center;
}

a {
    color: #d30c7b;
    word-wrap: break-word;
    text-decoration: none;
}

a:hover {
    color: #d30c7b;
    text-decoration: none;
    border-bottom: 1px dotted;
}

#social a:hover {
    color: #d30c7b;
    text-decoration: none;
    border-bottom: none;

}

#social a {
    color: #2e86ab;
}

@media screen and (max-width: 500px) {

#main {
  width: 100%;
  margin: 0px;
  padding: 20px 5%;
  border-radius: 0px;
  box-sizing: border-box;
}

}

@media screen and (min-width: 501px) and (max-width: 750px) {

#main {
  width: 60%;
}

}
